.darkNav{
  background-color: rgba(0,0,0,0.8);
  padding: 2rem;
  box-shadow: 5px 7px 6px rgba(0,0,0,0.5);
}
.original{
  background-color: transparent;
}
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { /*스타일입력*/}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 
  .darkNav{
    background-color: rgba(0,0,0,0.8);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 5px 7px 6px rgba(0,0,0,0.5);
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) { /*스타일입력*/}