.darkNav{
  background-color: rgba(0,0,0,0.8);
  padding: 2rem;
  box-shadow: 5px 7px 6px rgba(0,0,0,0.5);
}
.original{
  background-color: transparent;
};
@media all and (min-width:768px) and (max-width:1023px) { 
  .darkNav{
    background-color: rgba(0,0,0,0.8);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 5px 7px 6px rgba(0,0,0,0.5);
  }
};
@media all and (max-width:767px) {
  .darkNav{
    background-color: rgba(0,0,0,0.8);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 5px 7px 6px rgba(0,0,0,0.5);
  }
};
